version: "3.9"

services:
  backend:
    build: ./project
    container_name: todolist_backend
    env_file:
      - ./project/.env
    ports:
      - "3000:3000"
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: todolist_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
